<div id="carrito">

  <img (click)="mostrarCarrito()" id="carritoImg" src="/imagenes/imagenesTienda/carrito_compras.png" alt="Carrito">

  <div *ngIf="mostrarCarro" id="listaCarrito">
    <table>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
      <tbody *ngFor="let prodEnCarro of productoAnhadir">
        <td >
          {{ prodEnCarro.nombre }}
        </td>
        <td>
          {{ prodEnCarro.precio }}€
        </td>
      </tbody>
      <td>Total: {{ this.total }} €</td>
    </table>
    <p id="totalCompra"></p>
    <a [routerLink]="['/carrito']" id="vaciarCarrito">Pagar</a>
    <a (click)="vaciarCarro()" id="vaciarCarrito">Vaciar Carrito</a>
  </div>
</div>
<!--Contenido-->
<div id="productos">

  <h2>COMIDA FIT</h2>
  <div id="cajaComida" class="caja" *ngFor="let comida of productosComida">
    <p>{{ comida.nombre }}</p>
    <img [src]="comida.imagen" alt="{{ comida.nombre }}" >
    <p>{{ comida.precio}}€</p>
    <button (click)="anhadirAlCarro(comida)">Comprar</button>
  </div>

  <h2>ACCESORIOS</h2>
  <div id="cajaAccesorios" class="caja" *ngFor="let accesorio of productosAccesorios">
    <p>{{ accesorio.nombre }}</p>
    <img [src]="accesorio.imagen" alt="{{ accesorio.nombre }}">
    <p>{{ accesorio.precio }}€</p>
    <button (click)="anhadirAlCarro(accesorio)">Comprar</button>
  </div>

  <h2>SUPLEMENTOS</h2>
  <div id="cajaSuplementos" class="caja" *ngFor="let suplemento of productosSuplementos">
    <p>{{ suplemento.nombre }}</p>
    <img [src]="suplemento.imagen" alt="{{ suplemento.nombre }}">
    <p>{{ suplemento.precio }}€</p>
    <button (click)="anhadirAlCarro(suplemento)">Comprar</button>
  </div>

  
</div>