/*Estilo del cuerpo*/
body {
    background-color: rgb(26, 25, 25);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    
  }
  
  h2{
    text-align: center;
  }
  
  p{
    font-size: 15px;
  }