h1{
  font-size: 45px;
  border-bottom: 5px solid black;
  margin: 5px;
}
.contenido {
  display: flex;
  flex-direction: column;
  background-color: #260202;
  box-shadow: 0 0 10px rgba(249, 0, 0, 0.7);
  margin: 10px;
  margin-top: 150px;
  min-height: 900px; /* Altura mínima en lugar de fija */
  height: auto; /* Permite que crezca según el contenido */
  align-items: center;
  text-align: center;
  padding: 20px;
}


  .contenido >p{
    font-size: 25px;
  }
  
  .entreno {
    margin: 20px;
    height: 600px;
    border-radius: 10px;
  
  }

  /*Estilo para la seccion de videos*/
  .videos {
    max-width: 90%;
    overflow: hidden;
}
/*Estilo para dar espacio entre los videos*/
iframe{
  margin: 5px;
}
  
  /*Estilo para todos los botones de la página*/
  button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #000;
    border: 2px solid rgb(146, 6, 6);
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(146, 6, 6), 0 0 5px rgb(146, 6, 6), 0 0 15px rgb(146, 6, 6);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
  }
  
  button:hover {
    color: #000;
    background: rgb(146, 6, 6);
    box-shadow: 0 0 10px rgb(146, 6, 6), 0 0 15px rgb(146, 6, 6), 0 0 35px rgb(146, 6, 6);
  }
  
  button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.4) 10%, rgba(0, 255, 255, 0) 70%);
    transition: all 0.4s ease-in-out;
    transform: translate(-50%, -50%) scale(0);
  }
  
  button:hover::before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  
